<form action=<%= path %> method="POST">
  <% if friend_circle.persisted? %>
    <input type="hidden" name="_method" value="PUT">
  <% end %>
  <input type="hidden" name="friend_circle[member_ids][]" value="">

  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label>Friend circle name:
    <input type="text" name="friend_circle[name]" value=<%= friend_circle.name %>>
  </label>

  <br>
  Who do you want to add to this Friend Circle?

    <% users.each do |user| %>
    <% html_id = "friend_circle_member_ids_#{user.id}" %>
      <br>

      <% unless current_user == user %>
        <input
          type="checkbox"
          name="friend_circle[member_ids][]"
          value="<%= user.id %>"
          id="<%= html_id %>"
          <%= friend_circle.members.include?(user) ? "checked" : "" %>>
        <label for="<%= html_id %>">
          <%= user.email %>
        </label>
      <% end %>

    <% end %>



  <br>
  <input type="submit" value="Create friend circle!">

</form>