<h1>Password Reset</h1>
<p>We have sent you an email with a link to reset your password.  Please check your email and follow the link to reset your password.  If you don't receive the email please contact us at fake_support@example.com </p>