<h1>Reset Password</h1>
Please enter a new password!

<form action=<%= user_url(@user) %> method="POST">
  <input type="hidden" name="_method" value="PUT">

  <p>Email:<%= @user.email %></p>

  <br>
  <label>New Password:
    <input type="password" name="user[password]">
  </label>

  <br>
  <input type="submit" value="create new password">

</form>