<h1>Forgot Password</h1>
please enter your email to reset your password
<form action=<%= generate_reset_password_url %> method="POST">
  <input type="hidden" name="authenticity_token" value=<%= form_authenticity_token %>>
  <label>Email:
    <input type="text" name="user[email]">
  </label>
  <br>
  <input type="submit" value="Reset Password">
</form>