<h1>My feed</h1>

<% @feed_posts.each do |feed_post| %>
Author:
<%= feed_post.author.email %>
<br>
Description:
<%= feed_post.body %>
<ul>
<% feed_post.links.each do |link| %>
<li><a href=<%= link.url %>><%= link.url %></a></li>
<% end %>
</ul>
<% end %>