<h1> Sign up! </h1>

<form action=<%= users_url %> method="POST">

  <input type="hidden" name="authenticity_token" value=<%= form_authenticity_token %>>

  <label>Email:
    <input type="text" name="user[email]" value=<%= @user.email %>>
  </label>

  <br>
  <label>Password:
    <input type="password" name="user[password]">
  </label>

  <br>


<h3>Create Your First Post!</h3>

  <label for="post_body">Description of Links:</label> <br>
<textarea rows="4" cols="40" value="<%= @post.body %>" name="post[body]" id="post_body">
</textarea>

  <br>

  <% @post.links.each do |link| %>
    <label>Link:
    <input name="link_attributes[<%= link.object_id %>][url]">
    </label>
    <br>
  <% end %>
  <br>
  <input type="submit" value="Create my account!">

</form>