<h1>Create a New Post</h1>
<form action=<%= posts_url %> method="POST">
  <input type="hidden" name="authenticity_token" value=<%= form_authenticity_token%>>

  <label for="post_body">Description of Links:</label> <br>
<textarea rows="4" cols="40" value="<%= @post.body %>" name="post[body]" id="post_body">
</textarea>

  <br>

  <% @post.links.each do |link| %>
    <label>Link:
    <input name="link_attributes[<%= link.object_id %>][url]">
    </label>
    <br>
  <% end %>

  <br>
  Who do you want to share this post with?

  <% @friend_circles.each do |friend_circle| %>
  <% html_id = "friend_circle_ids_#{friend_circle.id}" %>
    <br>

      <input
        type="checkbox"
        name="post[friend_circle_ids][]"
        value="<%= friend_circle.id %>"
        id="<%= html_id %>">

      <label for="<%= html_id %>">
        <%= friend_circle.name %>
      </label>

  <% end %>



<br>

  <input type="submit" value="Create Post">
</form>