<!DOCTYPE html>
<html>
<head>
  <title>SocialThingamajig</title>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_user %>
  logged in as: <%= current_user.email %>
  <%= button_to "Logout", session_url, method: :delete %>
<% else %>
  <%= link_to "Sign in", new_session_url %>
  <%= link_to "Sign up", new_user_url %>
<% end %>

<br>

<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
    <%= error %>
  <% end %>
<% end %>


<%= yield %>

</body>
</html>
